<div  ng-controller="analyticalMethodController">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <img style="padding-left: 1in" ng-src="img/discover-logo.png"/>
                <h4 style="padding-left: 1.1in">FICO DMS Test Application</h4>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-5">
                    <div class="form-area">
                        <form role="form">
                            <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" id="account_key" name="account_key" placeholder="Account Key" data-ng-model="account_key" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="acc1" name="acc1" placeholder="Acc1" data-ng-model="acc1" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="acc2" name="acc2" placeholder="Acc2" data-ng-model="acc2" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" data-ng-model="amount" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" data-ng-model="city" required>
                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right"
                                    data-ng-click="submitChanges()">Submit Form</button>
                        </form>
                                    <!--<div class="spinner" ng-show="loading">-->
                                        <!--<img src="http://i49.tinypic.com/j5z8mb.gif" alt="Yükleniyor..."/>-->
                                    <!--</div>-->
                        <!--<div>-->
                          <!--<div>-->
                            <!--<h3>Selected Offer ID:  {{offerID}}</h3>-->
                          <!--</div>-->
                        <!--</div>-->
                </div>
            </div>

                <div class="col-md-4 ng-hide" ng-hide="hideList" style="margin-top: 41px;">
                    <ul id="list">
                        <li> <h3>Searching matching offers:</h3>
                        <li>Sending real-time data</li>
                        <li>Joining historical data</li>
                        <li>Sending to FICO DMS</li>
                        <li>Recieving custom offer code</li>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 ng-hide" ng-hide="hideSelectedOffer" style="margin-top: 65px;">
                    <h3>Selected Offer ID:  {{offerID}}</h3>
                </div>

                <div class="col-md-2" ng-hide="hideList">
                    <div id="sentence-wrapper">
                        <h5 class="sentence">
                            <!--<span>Searching matching offers: </span>-->
                            <div class="words words-1">
                                <span>YPF</span>
                                <span>XIT</span>
                                <span>NHG</span>
                                <span>SWU</span>
                                <span>UIT</span>
                                <span>FDR</span>
                            </div>
                        </h5>
                    </div>

                </div>
        </div>
    </div>

    <toaster-container></toaster-container>
</div>


<style>
    .angular-ui-tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        font-weight: normal;
    }
    .angular-ui-tree-handle:hover {
        font-weight: bold;
        cursor: pointer;
    }
    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .tree-node {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        border-radius: 3px;
    }

    .tree-node .btn {
        min-width: 22px;
        margin-right: 4px;
    }

    .tree-node-content {
        margin: 5px 5px 5px 0;
    }

    .tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
    }

    .angular-ui-tree-handle:hover {
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
