<div class="row  border-bottom white-bg dashboard-header" ng-controller="subjectAreaController">
    <div class="col-md-12">
        <div id="gridContainer" dx-data-grid="gridOptions">
            <div data-options="dxTemplate: {name: 'detail'}">
                <div class="internal-grid-container">
                    <div>{{"Associated Business Entities:"}}</div>
                        <div class="internal-grid" dx-data-grid="{
                            dataSource: data.BusinessEntities,
                            columnAutoWidth: true,
                            columns: [{dataField: 'Name', caption: ''}]}">
                        </div>
                    <div><p></p></div>
                    <div>{{"Associated Business Functions:"}}</div>
                        <div class="internal-grid" dx-data-grid="{
                            dataSource: data.BusinessFunctions,
                            columnAutoWidth: true,
                            columns: [{dataField: 'Name', caption: ''}]}">
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="padding-top: 30px">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Proposed Updates for Subject Area:   {{selectedSubjectArea}}</h5>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" cols="127" data-ng-model="proposedChanges">
                        </textarea>
                    </div>
                    <button class="btn btn-white" type="submit" data-ng-click="submitChanges()">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
