<div class="row  border-bottom white-bg dashboard-header" ng-controller="businessEntityController">
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <div id="gridContainer" dx-data-grid="gridOptions">
            <div data-options="dxTemplate: {name: 'detail'}">
                <div class="internal-grid-container">
                    <div>{{"Associated Subject Areas:"}}</div>
                    <div class="internal-grid" dx-data-grid="{
                    dataSource: data.SubjectAreas,
                    columnAutoWidth: true,
                    columns: [{dataField: 'Name', caption:''}]}">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>